/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
#logo {
  max-width: 100%;
  height: 40px;
  display: block;
  position: relative;
  left: 25px;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-words-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 25px;
}

.header-word {
  padding-left: 20px;
  padding-left: 30px;
  position: relative;
  bottom: 5px;
}

.cover-pic {
  background-image: url("../images/landing.jpg");
  max-width: 100%;
  height: 1000px;
  background-size: contain;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cover-pic-word {
  font-size: 100px;
}

.cover-wordings {
  font-size: 37px;
  position: relative;
  bottom: 100px;
  position: relative;
  right: 10px;
}
.cover-wording-2 {
  font-size: 37px;
  position: relative;
  bottom: 120px;
  position: relative;
  left: 54px;
}
.news-line {
  text-decoration: underline;
  text-decoration-color: #1ed760;
  display: flex;
  justify-content: center;
}
.high-quality-icon {
  max-width: 100%;
  height: 50px;
}
.music-icon {
  max-width: 100%;
  height: 50px;
}
.devices-icon {
  max-width: 100%;
  height: 50px;
}
.grid-news-line {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.below-section {
  background-color: #1ed760;
  max-width: 100%
}
.third-section { 
  padding:40px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100%;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.spotify-icon-white {
  max-width: 100%;
  height: 100px;
  position: relative;
  top:50%;
}
.spotify-app {
  max-width: 100%;
  height: 600px;
  position: relative;
  top:40px;
}

.word-check{
  font-size: 22px;
}